{% extends "base.twig" %}
{% load i18n %}
{% load unidecode_slugify %}

{% block title %}
  {% trans "Parity Parrot" %}
{% endblock %}

{% block content %}

	<div class="px-8 md:px-16 py-24 max-w-7xl mx-auto">
		<h1>parity parrot</h1>
	</div>

{% endblock %}
